* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    width: 100%;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.5s ease;
	z-index: 2;
}
.line-1 {
    z-index: 3;
    position: relative; 
    height: 1px; 
    border: none;
    border-top: 2px solid  rgb(223, 80, 151); 
	margin-top: 140px;
	margin-right: 50px;
	margin-left: 80px;
}


.nav-scrolled {
    background-color: white !important; 
}
.nav > .nav-header {
	display: inline;
	z-index: 3;
  }
  
  .nav > .nav-header > .nav-title {
	display: inline-block;
	font-size: 25px;
	color: rgb(223, 80, 151);
	padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
	display: none;
  }
  
  .nav > .nav-links {
	display: inline;
	float: right;
	font-size: 18px;
	padding-top: 2%;
  }
  
  .nav > .nav-links > a {
	display: inline-block;
	padding: 20px 15px 13px 15px;
	text-decoration: none;
	color: rgb(223, 80, 151);
	margin-inline: 30px;
	font-weight: 600;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .nav > .nav-links > a:hover {
	color: rgb(8, 2, 2);
  }
  
  .nav > #nav-check {
	display: none;
  }
  
  @media (max-width:600px) {
	.nav > .nav-btn {
	  display: inline-block;
	  position: absolute;
	  right: 5px;
	  top: 15px;
	}
	.nav > .nav-btn > label {
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  padding: 13px;
	}
	.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
	  background-color: white;
	}
	.nav > .nav-btn > label > span {
	  display: block;
	  width: 25px;
	  height: 10px;
	  border-top: 2px solid #eee;
	}
	.nav > .nav-links {
	  /* position: relative; */
	  display: block;
	  width: 100%;
	  background-color: rgb(255, 255, 255);
	  height: 0px;
	  transition: all 0.3s ease-in;
	  overflow-y: hidden;
	  top: 50px;
	  left: 0px;
	}
	.nav > .nav-links > a {
		display: block;
		text-decoration: none; 
	  }
	  
	.nav > #nav-check:not(:checked) ~ .nav-links {
	  height: 0px;
	}
	.nav> #nav-check:checked ~ .nav-links {
	  height: calc(100vh - 50px);
	  overflow-y: auto;
	}
  }
  .logo img {
    height: 140px;
    float: left;
  }
.hero-section {
    height: 100vh;
    background-image: url(https://images.squarespace-cdn.com/content/v1/578e1258c534a550d7ebfdd5/1522573446572-G7AE1Y7HA7PFB9HSCJ45/DSC_0375.jpg?format=2500w);
    background-size: cover;
    background-position: center;
	/* opacity: 0.8;
	background-color: whitesmoke; */
    position: relative;
}

.hero-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 35, 35, 0.6); 
    z-index: 1;
}


.phrase {
    color: rgb(223, 80, 151);
    font-family: "Trirong", serif;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bolder;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	z-index: 1;
}

.phrase::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	border-radius: 8px;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(10px);
    z-index: -1;
}
@media screen and (max-width: 600px) {
	.background-image {
		background-size: 70% 60%;
		padding-top: 70%;
		padding-bottom: 10px;
	}

	.phrase {
		font-size: 0.7rem;
		padding: 1.0rem;
		max-width: 63%;
		margin-top: 0.1rem;
	}
}


  button {
	background-color: rgb(77, 132, 199); 
	border: 5px;
	color: white;
	border-radius: 50px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
    font-weight: bold;
	margin: 4px 2px;
	cursor: pointer;
	margin-left: 45%;
  }
  .container {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	font-size: 80%;
	color: #000000;
}

.image-frame {
	background-color: #eed35c;
	padding: 20px;
	text-align: center;
	width: calc(33.33% - 10px); /* Use calc() to set the width and add margin */
	margin-bottom: 20px;
}

/* Add margin to the right of the first two image-frames */
.image-frame:nth-child(1),
.image-frame:nth-child(2) {
	margin-right: 10px;
}

/* Add margin to the left of the last two image-frames */
.image-frame:nth-child(2),
.image-frame:nth-child(3) {
	margin-left: 10px;
}

.image-frame img {
	max-width: 100%;
}

.image-frame p {
	font-size: 16px;
	line-height: 1.5;
	margin-top: 20px;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 767px) {
	.container {
		flex-direction: column; /* Change to a single column layout */
		align-items: center;
	}
	
	.image-frame {
		width: 100%; /* Change the width to 100% */
		margin-right: 0;
		margin-left: 0;
	}
	
	/* Remove margin from the first and last image-frames */
	.image-frame:nth-child(1),
	.image-frame:nth-child(3) {
		margin-right: 0;
		margin-left: 0;
	}
}

  footer {
	background-color: pink;
	padding: 20px;
	text-align: center;
	margin-top: 20px; /* add margin to the top of the footer */

  }
  
  .footer-icons {
	display: inline-block;
  }
  
  .footer-icons a {
	display: inline-block;
	margin: 0 10px;
	font-size: 24px;
	color: #333;
  }
  footer p {
	margin: 0;
	color: #333;

  }
  
  .footer-icons a:hover {
	color: #333;
  }
  
  
  